.textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  min-height: 50px;
  resize: none;
  padding: 5px;
}

.newMessageBtn {
  display: block;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
}

.newMessageBtn:hover {
  text-decoration: underline;
}
